<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Marko Demo</h1>
    <h2>Hello, ${data.name}</h2>
    <ul if(notEmpty(data.colors))>
        <li for(color in data.colors)>
        <span style="color: ${color}">${color}</span>
        </li>
    </ul>
    <div else>
        There are no colors!
    </div>
  </body>
</html>